@use "colors"as *;

.title,
.bottomMessage {
    margin: 0;
    position: absolute;
}

.title {
    bottom: calc(50vh + 180px);
}

.bottomMessage {
    top: calc(50vh + 180px);
}

.link {
    color: $accent;

    &:hover {
        color: $hover;
    }
}

.form {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background-color: $form-background;
    padding: 2rem 3rem;
    border: 6px solid $form-border;
    border-radius: 2px;
    align-self: center;

    &__subtitle {
        margin: 0;
    }

    &__guestLink {
        margin: 0;
    }

    &__formFieldsContainer {
        display: flex;
        flex-direction: column;
        gap: .6rem;
        margin: .8rem 0;

        &__formField {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: .6rem;

            &__input {
                border: none;
                border-radius: 2px;
                color: $background;
                font-family: inherit;
                padding: .5rem;

                &:focus {
                    outline: 2px dotted $accent;
                }
            }
        }
    }

    &__button {
        background-color: $accent;
        padding: .5rem 1rem;
        border: none;
        border-radius: 2px;
        font-size: smaller;
        cursor: pointer;
        text-decoration: none;
        font-family: inherit;

        &:hover {
            color: black;
            border-color: black;
            background-color: $hover;
        }

        &:focus {
            outline: 2px dotted $accent;
        }
    }
}

#messageContainer {
    background-color: $background;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

#message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 34ch;
    text-align: center;
}